body {
  padding-top: 50px;
}

.navbar {
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
}


.navbar-inverse
.navbar-nav > li > a {
  color: #999;
}

.navbar-inverse
.navbar-brand {
  color: #999;
}

.content {
  padding: 20px 15px;
}

.imgbox { padding: 10px; }

.imgbox img, .imgbox img:hover, .radius, .radius:hover, .projects, .projects:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.imgbox img {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em; 
}

.imgbox img:hover {  
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 5px 5px 5px #888;
}

.gosite {
  text-shadow: 2px 2px 2px 2px #000;
  text-align: center;
  color: #4b9ee6;
}

.featurette-heading {
  font-weight: bold;
  color: #4d3434;
}

.radius {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em; 
}

.radius:hover {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;   
}

#btn-sitiweb, #btn-progetti {
  border-bottom: 2px solid #ededed;
  border-radius: 0em;
  background: transparent;
  padding: 18px 28px;
  font-size: 22px;
}

#btn-sitiweb:hover, #btn-progetti:hover {
  border: 2px solid #ededed;
}

#btn-sitiweb {
  border-right: 3px solid #ededed;
  border-left: 4px solid #ededed;
}
#btn-progetti { border-left: 3px solid #ededed; }

.projectsdiv {
  height: 480px;
}

.projects {
  margin: auto;
  border: 10px solid #ededed;
  padding: 10px 0px 0px 0px;
  width: 100%;
  max-width: 340px;
}

.projects div {
  width: 100%;
  height: 100%;
}

@media (min-width:801px) {
  .projects {
    margin-right: 35px;
    overflow: hidden;
    height: 235px;
    opacity: 0.5;
  }
  
  .projects:hover {
    height: 300px;
    opacity: 1; 
  }

  .projectsdiv {
    height: 400px;
  }
}

form input {
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: #4f4f4f;
  background-color: transparent;
  border: 1px solid #d0d1d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px #d0d1d2;
}

form textarea {
  text-align: center;
  width: 100%;
  height: 200px;
  font-size: 20px;
  color: #4f4f4f;
  resize: none;
  border: 1px solid #d0d1d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px #d0d1d2;
}

form input[type=submit] { width: 150px; }
form input { text-align: center; }

form {
  text-align: center;
  font-size: 25px;
}

.animation {
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  animation: scaling 1s;

  -moz-animation-name: scaling;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1s;

  -webkit-animation-name: scaling;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1s; 
}

@keyframes scaling {
  from {
    -o-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
  }
  to {
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes scaling {
  0% { -moz-transform: scale(.01); }
  100% { -moz-transform: scale(1); }
}
@-webkit-keyframes scaling {
  0% { -webkit-transform: scale(.01); }
  100% { -webkit-transform: scale(1); }
}

.carousel .item img {
  display: block;
  height: 320px;
  box-shadow: 5px 5px 5px #888;
}

.carousel { width: auto; }

.btn-info {
    background-image: linear-gradient(#04519B, #033C73 60%, #02325F);
    background-repeat: no-repeat;
    filter: none;
    border-bottom: 1px solid #022241;
}

.btn-success {
    background-image: linear-gradient(#88C149, #73A839 60%, #699934);
    background-repeat: no-repeat;
    filter: none;
    border-bottom: 1px solid #59822C;
}

#progetti { display: none; }
