body {
  padding-top: 50px;
}

.navbar {
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
}

.content {
  padding: 40px 15px;
}

#footer { height: 60px; }

.imgbox { padding: 10px; }

.imgbox img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.imgbox img:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 5px 5px 5px #888;
}

.gosite {
    text-shadow: 2px 2px 2px 2px #000;
    text-align: center;
    color: #4b9ee6;
}

.portfolio { text-align: center; }

.featurette-heading {
  font-weight: bold;
  color: #4d3434;
}